<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheet-clito" rel="stylesheet">

  </head>

  <body >

    <div class="container">

        <form class="form-signin" role="form">
<img src="negro.png">

<!-- Include Twitter Bootstrap and jQuery: -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
 
<!-- Include the plugin's CSS and JS: -->
<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"/>
 
<!-- Build your select: -->

 
<!-- Initialize the plugin: -->
<script type="text/javascript">
$(document).ready(function() {
    $('.multiselect').multiselect();
});
</script>

<link rel="stylesheet" href="/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css" />

<!-- Include Bootstrap Multiselect JS -->
<script src="/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>

<form id="multiselectForm" method="post" class="form-horizontal">
    <div class="container" style="width: 140%"; >
        <label class="col-lg-3 control-label">Animal</label>
        <div class="col-lg-5">
            <select type="nombre" class="form-control" name="gender" >
                    <option value="" disabled selected> Selecciona</option>
                <option value="male">Acuatico</option>
                <option value="female">Aves</option>
                <option value="other">Caballos</option>
                <option value="other">Gatos</option>
                <option value="other">Otros</option>
                <option value="other">Perros</option>
                <option value="other">Reptiles</option>
            </select>
        </div>
    </div>

    <div class="container" style="width: 140%"; >
        <label class="col-lg-3 control-label">Raza</label>
       
        <div class="col-lg-5">
            <select type="nombre" class="form-control" name="gender" >
                    <option value="" disabled selected>Selecciona</option>
                
            
            </select>
        </div>
    </div>

    <div class="container" style="width: 140%"; >
        <label class="col-lg-3 control-label">Categoria</label>
       
        <div class="col-lg-5">
            <select type="nombre" class="form-control" name="gender" >
                    <option value="" disabled selected>Selecciona</option>
                <option value="chrome">Venta</option>
                <option value="firefox">Adopcion</option>
                <option value="ie">Pareja</option>
                <option value="safari">Accesorios</option>
                
            
            </select>
            

    <div class="container" style="width: 140%"; >
        <div class="col-lg-5 col-lg-offset-3">
            <button type="submit" class="btn btn-default">BUSCAR!</button>
        </div>
    </div>
</form>

          </form>

    </div>


    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>