<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/clito-css.css" rel="stylesheet">

  </head>

  <body background="blue.jpg">
<div align="center">
<img src="static/css/negro.png">
<table class="table">
    <thead>
        <tr>
            
            <th>Publicacion</th>
            <th>Pueblo o Area</th>
            <th>FOTO</th>
            <th>PRECIO</th>
        </tr>
    </thead>
    <tbody>
        <tr class="active">
            
            <td>(TITULO DE LA PUBLICACION)</td>
            <td>(PUEBLO)</td>
            <td>(FOTO)</td>
            <td>(PRECIO)</td>
        </tr>
        <tr class="active">
            
            <td>(TITULO DE LA PUBLICACION)</td>
            <td>(PUEBLO)</td>
            <td>(FOTO)</td>
            <td> (PRECIO)</td>
        </tr>
        <tr class="active">
            
            <td>(TITULO DE LA PUBLICACION)</td>
            <td>(PUEBLO)</td>
            <td>(FOTO)</td>
            <td> (PRECIO)</td>
        </tr>
        <tr class="active">
            
            <td>(TITULO DE LA PUBLICACION)</td>
            <td>(PUEBLO)</td>
            <td>(FOTO)</td>
            <td> (PRECIO)</td>
        </tr>
        <tr class="active">
            
            <td>(TITULO DE LA PUBLICACION)</td>
            <td>(PUEBLO)</td>
            <td>(FOTO)</td>
            <td> (PRECIO)</td>
        </tr>
        <tr class="active">
            
            <td>(TITULO DE LA PUBLICACION)</td>
            <td>(PUEBLO)</td>
            <td>(FOTO)</td>
            <td> (PRECIO)</td>
        </tr>
           <tr class="active">
            
            <td>(TITULO DE LA PUBLICACION)</td>
            <td>(PUEBLO)</td>
            <td>(FOTO)</td>
            <td> (PRECIO)</td>
        </tr>
    </tbody>
</table>

</div>

</div>


</div>

          </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>